.contacts {
    position: relative;
    &__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 12rem;
        @include media(620) {
            row-gap: 7rem;
        }
    }
    &__title {
        h3 {
            color: $strong-dark;
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            &::before {
                display: block;
                content: '';
                background: $strong-dark;
                width: 7rem;
                height: 0.2rem;
                margin: 0 auto 3rem auto;
            }
            
        }
    }
    &__textarea {
        width: 100%;
        position: relative;
        label {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            color: $white;
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
            background: $ligth-dark;
            border-radius: .5rem;
            padding: .5rem 1rem;
        }
    }
    &__form {
        width: 50rem;
        height: auto;
        align-self: flex-end;
        margin-right: 10rem;
        @include media(768) {
            align-self: center;
            margin-right: 0;
        }
        @include media(620) {
            width: 40rem;
        }
        @include media(450) {
            width: 32rem;
        }
        @include media(320) {
            width: 30rem;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
            input {
                width: 100%;
                padding: 1.3rem 0 1.3rem 2.3rem;
                background: $ligth-dark;
                font-size: 1.6rem;
                color: $white;
                border: .2rem solid $ligth-dark;
                outline: none;
                border-radius: .5rem;
                @include trs;
                &::placeholder {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 400;
                    @include media(620) {
                        font-size: 1.4rem;
                    }
                }
                &:hover, &:focus {
                    border: .2rem solid $green;
                }
                @include media(620) {
                    font-size: 1.4rem;
                }
            }
            textarea {
                width: 100%;
                height: 16rem;
                padding: 1.3rem 0 1.3rem 2.3rem;
                background: $ligth-dark;
                font-size: 1.6rem;
                color: $white;
                border: .2rem solid $ligth-dark;
                outline: none;
                border-radius: .5rem;
                resize: none;
                @include trs;
                &::placeholder {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 400;
                    @include media(620) {
                        font-size: 1.4rem;
                    }
                }
                &:hover, &:focus {
                    border: .2rem solid $green;
                }
                @include media(620) {
                    font-size: 1.4rem;
                }
            }
            button {
                width: 100%;
                padding: 1rem 0;
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.8rem;
                background: $accent;
                border: none;
                outline: none;
                border-radius: .5rem;
                cursor: pointer;
                @include trs;
                &:hover, &:focus {
                    background: $green;
                }
                @include media(620) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}