.design {
    padding-top: 10rem;
    background-color: $ligth-dark;
    @include media(768) {
        background-image: url('../img/skills-1.png');
        @include bg;
    }
    @include media(768) {
        padding: 5rem 0;
    }
    @include media(550) {
        padding: 2.5rem 0;
    }
    &__wrap {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        @include media(768) {
           flex-direction: column;
           align-items: center;
        }
    }
    &__devices {
        max-width: 62rem;
        height: 57rem;
        position: relative;
        @include media(768) {
            display: none;
        }
        img {
           &:nth-child(2) {
               position: absolute;
               bottom: -7rem;
               right: -12rem;
           } 
        }
    }
    &__info {
        max-width: 35rem;
        z-index: 1;
        @include media(768) {
            max-width: 60rem;
            background: rgba($ligth-dark, $alpha: .3);
            padding: 1rem;
            backdrop-filter: blur(.3rem); 
        }
        @include media(550) {
            max-width: 45rem;
        }
        @include media(400) {
            max-width: 32rem;
        }
        h3 {
            font-size: 3rem;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 3rem;
            @include media(550) {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }
            @include media(400) {
                font-size: 1.6rem;
            }
            &::before {
                display: block;
                content: '';
                background: $gray-2;
                width: 7rem;
                height: 2px;
                margin-bottom: 3rem;
                @include media(768) {
                    display: none;
                }
            }
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            color: $gray-2;
            line-height: 1.5;
            margin-bottom: 3rem;
            @include media(768) {
                color: $white;
            }
            @include media(550) {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            @include media(400) {
                font-size: 1rem;
            }
        }
        ul {
            padding-left: 2rem;
            list-style: none;
            margin-bottom: 5rem;
            @include media(550) {
                margin-bottom: 2.5rem;
            }
            @include media(400) {
                margin-bottom: 1.5rem;
            }
            li {
                position: relative;
                color: $gray-3;
                padding-left: 2rem;
                @include media(768) {
                    color: $accent;
                }
                @include media(550) {
                    font-size: 1.2rem;
                }
                @include media(400) {
                    font-size: 1rem;
                }
                &:not(:last-child) {
                    margin-bottom: 2.5rem;
                    @include media(550) {
                        margin-bottom: 1rem;
                    } 
                }
                &:before {
                    display: block;
                    content: '';
                    background: url('../img/forlist.png') no-repeat center;
                    width: 0.8rem;
                    height: 0.2rem;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            font-size: 1.4rem;
            font-weight: 700;
            background: $green;
            padding: 2rem 3rem;
            border: 0.1rem solid $green;
            border-radius: 0.5rem;
            @include trs;
            &:hover {
               background: transparent;
            }
            @include media(768) {
                display: block;
                text-align: center;
                padding: 1rem 1.5rem;
            }
            @include media(550) {
                font-size: 1.2rem;
                padding: 0.5rem 1.5rem;
               
            }
        }
    }
}