.home {
    height: 100vh;
    min-height: 70rem;
    background: url('../img/intro-bg.jpg') no-repeat top / cover;
    display: flex;
    align-items: center;
    &__wrap {
        display: flex;
        justify-content: flex-end;
        @include media(768) {
            justify-content: center;
        }
    }
    &__content {
        max-width: 60rem;
        color: $white;
        @include media(768) {
            padding: 2rem;
            background: rgba($ligth-dark, .3);
            backdrop-filter: blur(5px);
        }
        h1 {
            font-size: 8rem;
            text-transform: uppercase;
            font-weight: 900;
            @include media(768) {
                font-size: 6rem;
            }
            @include media(500) {
                font-size: 4rem;
            }
            @include media(360) {
                font-size: 3.4rem;
            }
        }
        h2 {
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 2rem;
            @include media(768) {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
            @include media(500) {
                font-size: 2rem;
            }
            @include media(360) {
                font-size: 1.8rem;
            }
            span {
                color: $accent;
            }
        }
        p {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 500;
            color: $gray;
            @include media(768) {
                font-size: 1.4rem;
                color: $white;
            }
            @include media(500) {
                font-size: 1.2rem;
            }
            @include media(360) {
                font-size: 1rem;
            }
        }
    }
    &__btn {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        column-gap: 3rem;
        @include media(768) {
            margin-top: 2rem;
        }
        @include media(500) {
            flex-direction: column;
            row-gap: 1rem;
            margin-top: 1.5rem;
        }
        a {
            display: inline-block;
            color: $white;
            font-size: 1.4rem;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;

            background: $accent;
            padding: 2rem 3rem;
            border-radius: .5rem;
            border: .2rem solid transparent;
            @include trs;
            @include media(500) {
                width: 100%;
                padding: 1rem;
            }
            &:nth-child(1) {
                &:hover {
                    background: $green;
                }
            }
            &:nth-child(2) {
                border: .2rem solid $white;
                background: transparent;
                &:hover {
                    background: $accent;
                    border: .2rem solid transparent;
                }
            }
        }
    }
}